body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.main__element {
    height: 33vh;
}

.main__element:nth-child(4n - 3) {
    background-color: #fbfbfb;
}

.main__element:nth-child(4n - 2) {
    background-color: #ffffff;
}

.main__element:nth-child(4n - 1) {
    background-color: #f8f8f8;
}

.main__element:nth-child(4n) {
    background-color: #fbfbfb;
}


.main__element__header {
    width: 30%;
    height: 30vw;
}

.main__element__description {
    width: 70%;
    height: 30vw;
}

.main__element__header-headline {
    width: 30%;
    height: 100vh;
}

.main__element__description-headline {
    width: 70%;
    height: 100vh;
}