body {
    margin: 0;
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.main__element {
    display: flex;
}

.main__element:nth-child(4n - 3) {
    background-color: #fbfbfb;
}

.main__element:nth-child(4n - 2) {
    background-color: #ffffff;
}

.main__element:nth-child(4n - 1) {
    background-color: #f8f8f8;
}

.main__element:nth-child(4n) {
    background-color: #fbfbfb;
}

.main__element__header {
    width: 30%;
    height: 30vh;

    justify-content: flex-end;
}

.main__element__description {
    width: 70%;
    height: 30vh;
}

.main__element__header-headline {
    height: 100vh;

    align-items: center;
}

.main__element__description-headline {
    height: 100vh;
}

.main__element__header__avatar {
    width: 14vw;
    height: 14vw;
    min-width: 100px;
    min-height: 100px;

    margin-right: 40px;
    border-radius: 1000px;
}